@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,400;1,400;1,600&display=swap');
$primaryTextColor:black;
$zipCodeColor:#E5E5E5;
$bodyText: 'Open Sans', sans-serif;
$titleText: 'Montserrat', sans-serif;